@font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

body {
   margin:0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  line-height:1.46;
}

.header {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  color:#ffffff;
  position: relative;
  min-width:1200px;
  padding-top:1.4em;                      /*21px*/
  padding-bottom: 6.7em;                 /*100px;*/
}

.header::before {
  content: "";
  background-color: #000000;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.container {
  position: relative;
  width:72%;  /*1176px*/
  margin:0 auto;
  padding:0 15px;
}

.header-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.menu_burger{
  width: 30px;
  height: 5px;
  background-color: #fff;
  position: relative;
  border-radius: 3px;
}

.menu_burger::before{
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  border-radius: 3px;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu_burger::after{
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 3px;
  width: 30px;
  height: 5px;
  background-color: #fff;
}


.menu{
  display:flex;
  justify-content:space-between;
  align-items:center;
}



.logo {
  width: 15.5%;  /*180px*/
  
}

.container_article{
  width: 100%;
  padding-top: 58px;
  padding-bottom: 30px;
}

.article_trend_title{
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.article_trend_title::after {
  content: "";
  background-color: #b59f5b;
  background-position: center;
  margin-top: 15px; 
  width: 70px;
  height: 3px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.trend_news{
  display: flex;
  justify-content: space-between;

}


.trend_news_card{
  width: calc(25% - 5px);   /*410px*/
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
  color:#ffffff;
  min-width: 300px;
  display: flex;
  align-items: flex-end;
}

.trend_one {
  background-image: url(../images/trend1.jpg);
}

.trend_two {
  background-image: url(../images/trend2.jpg);
}

.trend_three {
  background-image: url(../images/trend3.jpg);
}

.trend_four{
  background-image: url(../images/trend4.jpg);
}

.trend_news_card img{
  max-width: 100%;
}

.trend_news_card::before{
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.card_title{
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  border:3px solid #796d38;
  width: 90%;   /*370px*/
  margin:140px auto 20px auto;
  padding: 40px 36px 30px 36px;
  box-sizing: border-box;

 }

.card_title ul{
  padding-bottom: 11px;

}

 .card_title p{
    margin: 0; 

 }









.menu-list {
  display: flex;
  list-style-type: none;
  margin:0;
  padding:0;
  text-transform:uppercase;
  font-size:13px;
}



.menu-list-item {
  margin-right: 35px;
}

.menu-list-item:last-child {
  margin-right: 0;
}

.menu-link {
  text-decoration: none;
  color: #fff;
}

.welcome-title-container{
  text-align: center;
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 128px;
}

.welcome-title {
  text-transform:uppercase;
  font-size: 45px;
  margin-bottom:10px;
  line-height: 75px;
}

.page {
  display: flex;
  margin-top:70px;
  justify-content:space-between;
}

.articles{
  width:778px;
}

.news {
  display: flex;
  align-items:flex-start;
}

.news:nth-child(n+2){
  margin-top:60px;
}
.news-img {
  width: 381px;
  margin-right:30px;
}
.news-content {
}

.news-subject {
  color: #b59f5b;
  display: flex;
  flex-wrap:wrap;
  list-style-type: none;
  margin:0;
  padding:0;
  text-transform:uppercase;
  font-size:14px;
  font-weight:700;
}

.news-subject-item{
  margin-right:17px;
}

.news-subject-item:last-child{
  margin-right:0;
}
.news-subject-link{
  text-decoration: none;
  color:#b59f5b;
}

.news-heading {
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;

  margin-top: 14px;
  margin-bottom: 30px;
}

.news-heading-link{
  color:inherit;
  text-decoration:none;
}


.news-date {
  font-size: 12px;
  color: #888888;
  display:inline-block;
  margin-right:10px;
}

.sidebar-news-date{
  display:block;
  margin-right:0;
}

.news-author {
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  display:inline-block;
  font-style:normal;
}

.news-content-text {
  margin-top: 40px;
 }


.news-content-text a{
  text-decoration: none;
  color: #b59f5b;
}

.sidebar {
  width: 282px;
}

.sidebar-block:nth-child(n+2){
  margin-top:60px;
}

.sidebar-title {
  margin-top: 0;
  margin-bottom:30px;
  font-size: 14px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  
}


.sidebar-title::after {
  content: "";
  background-color: #b59f5b;
  background-position: center;
  margin-top: 15px; 
  width: 70px;
  height: 3px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.sidebar-news{
  display: flex;
  align-items:flex-start;
}

.sidebar-news:nth-child(n+2){
  margin-top:20px;
}

.sidebar-img-mini {
  width: 80px;
  margin-right:22px;
}

.sidebar-text {
  width: 286px;
}

.sidebar-heading {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom:0;
}

.sidebar-heading-link{
  color:inherit;
  text-decoration:none;
  
}

.search {
  display:flex;
}

.input-search {
    width: 234px;
}

.input-field{
  box-sizing: border-box;
  height:49px;
  padding: 12px 20px;
  background-color: #f4f7f6;
  font-size: 13px;
  cursor: pointer;
  border: none;
  font-family:inherit;
}

.button {
  width: 49px;
  height: 49px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  background-color: #b59f5b;
  border: none;
}

.button:focus {
  outline: 2px solid #c53b2d;
  outline-offset: 5px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

.input-search-email {
  width: 282px;
}

.subscribe {
  margin-top: 20px;
  width: 282px;
  height: 47px;
  box-sizing: border-box;
  background-color: #b59f5b;
  font-family: inherit;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.tags{
  margin:0;
  padding:0;
  list-style:none;  
  display:flex;
  flex-wrap:wrap;
}

.tags-item{
  margin:0 6px 6px 0;
}
.tags-link {
  border: 3px solid #eeeeee;
  display: block;
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: inherit;
}


.topics-content{
  margin:0;
  padding:0;
  list-style:none;  
  font-size:14px;
}
.topics-header{
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 14px;
  
}
.topics-header:nth-child(n+2){
    margin-top: 14px;
}
.topics-link {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  }

.sub {
  vertical-align: super;
  color: #b59f5b;
  font-size:12px;
}


.productions_container{
  margin-top: 64px;
}

.production{
  display: flex;
  justify-content: space-between;

  }




.production_news{
  width: 342px;
   position: relative;
   margin-bottom: 240px;
  }

.production_news img{
    width: 300px;
    display:block;
    margin:0 auto;

    
}

.production_news_text{
  border: 3px solid #d3c59d;
  width: 342px;
  position: absolute;
  top: 170px;
  padding: 50px 20px;
  box-sizing: border-box;
}

.production_news_title{ color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 0;
}

.production_text p{
  padding-top:0; 
  margin-top: 0;
}

.production_text a{
  text-decoration: none;
  color: #b59f5b;
}


 .product_footer_prices{
 padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.product_price {
  font-size: 24px;
  font-weight: 700;
  color: #222;
  line-height: 1;
  display: flex;
}

.product_price_old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
}

.product_rub {
  margin-left: 0.2em;
}

.product_button {
  border: none;
  background-color: #b59f5b;
  padding: 1.4em 2em;

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .5px;

  font-family: inherit; 
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}








.footer{
  margin-top:64px;
  margin-bottom:30px;
}
.socials-links {
   background-color: #f4f7f6;
   padding:30px;
   text-align:center;
  
}




.socials{
 display:inline-block;
  width:24px;
  height:20px;
  background-repeat:no-repeat;
  background-size:20px;
  background-color:#f4f7f6;
  vertical-align:middle;
  margin:0 10px;
     }


.socials-telegram{
   background-image: url(../svg/004-twitter.svg);
  
}
.socials-pinterest{
  
  background-image: url(../svg/001-pinterest.svg);
 
}

.socials-facebook{
  
  background-image: url(../svg/002-facebook-logo.svg);
 
}

.socials-instagram{
 
  background-image: url(../svg/005-instagram.svg);
 }

.socials-Twitter{
   background-image: url(../svg/003-tumblr.svg);

}


.copyright{
  margin:73px 0 0 0;
  text-align:center;
  color:#999999;
  font-size:12px;
}


/*Медиа запросы*/


@media (min-width: 768px) {
  .menu_burger {
    display: none;
  }
}


@media (min-width:361px) and (max-width: 767px) {
  .header {
  background-image: url(../images/banner-bg-tablet.jpg);
/*  min-width:740px;*/
 }

  .menu-list{
    display: none;
  }
  .welcome-title{
    font-size: 40px;
  }

  .trend_news{
    flex-wrap: wrap;
  }

  .trend_news_card{
    width: calc(50% - 3px);
    margin-bottom: 5px;
  }

}

@media (max-width: 360px) {
   
   .header {
  background-image: url(../images/banner-mobile.jpg);
/*  min-width:740px;*/
 }
    .header-top{
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
 
  }
  .logo{
    position: relative;
    width:268px;
    margin-top: 225px;
  }

  .menu_burger{
  width: 30px;
  height: 5px;
  background-color: #fff;
  position:absolute;
  top: 20px;
  right: 0;
  border-radius: 3px;
  }

  .welcome-title-container{
  margin-top: 0;
}
  .welcome-title{
    font-size: 26px;
  }

  .menu-list{
      display: none;
    }
}